<h2>Posts</h2>
<div class="row">
	<div class="col-sm-12 col-sm-offset-2" *ngFor="let post of posts; let i = index" >
		<div [ngClass]="{'list-group-item':true,  
			'list-group-item-success': post.loveIt > post.dontLoveIt,  
			'list-group-item-danger': post.loveIt < post.dontLoveIt,
			'list-group-item-default': post.loveIt === post.dontLoveIt }" >
			<div class="btn-cursor" (click)="onViewPost(i)">
			<div class="row">
	  			<div class="col-sm-8"><h2>{{post.title}}</h2></div>
	    		<div class="col-sm-4"><h4 class="pull-right">{{post.created_at | date: 'short'}}</h4></div>
    		</div>
				<p> {{post.content}} </p>
			</div>
			
			<div class="list-group-item-heading">
				<button class="btn btn-success" (click)="onLoveIt(i)">love it!
					<span class="badge badge-primary badge-pill">{{post.loveIt}}</span>
				</button>

				<button class="btn btn-danger" (click)="onDontLoveIt(i)">don't love it!
					<span class="badge badge-primary badge-pill">{{post.dontLoveIt}}</span>
				</button>

				<button class="btn btn-default pull-right" (click)="onDelete(post)">
					Supprimer post
				</button>
			</div>
		</div>
	</div>	
</div>
